# Postgre SQL data
DB_PORT=5432
DB_USER=postgre user
DB_PASSWORD=postgre password
DB_NAME=postgre database name

# General setup
PAGESIZE=number of items in pagination of gets users

JWT_SECRET=Secreto

# Google Workspace application data
CLIENTID=client id from google cloud app registration
CLIENTSECRET=client secret from google cloud app registration

